html{
    position: relative;
    display: grid;
    align-items:center ;
    justify-content: center center;
    
}
body{
    position: relative;
    display: grid;
    align-items:center ;
    justify-content: center center;
    background-color:rgba(160, 221, 103, 0.678);
}
.login_form{
    position:relative;
    display:grid;
    align-items:center;
    justify-content: center center;
    margin: auto;
    top:100%;
    background-color:rgba(114, 198, 219, 0.199);
    border-radius: 10px;
    height:15em;
    width: initial, 20em;
}
.header h1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    top:0;
    bottom:0;
    width:5em;
    height:inherit;
}
.login_form_inputs{
    position: absolute;
}
.inputs{
    display:grid;
    align-items:center;
    justify-content: center;
    padding:5px;
}
.login_button{
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    top:-1em;
    right:2em;
    width:5em;
    height:2em;
}
.button{
    border:1px solid transparent;
    border-radius: 10px;
}
.register_form{
    position:relative;
    display:grid;
    align-items:center;
    justify-content: center center;
    margin: auto;
    top:186px;
    left:35px;
    height:initial;
    width: initial;
}
.button_register{
    border:1px solid transparent;
    border-radius: 10px;
}
